<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8">
    <title>Code School</title>
</head>

<body>
{% load static %}
{% include 'navbar.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
</body>


{% include 'footer.html' %}

</html>