<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Acknowledgements</h5>
                <p class="grey-text text-lighten-4">This project was sorely developed using Django framework for Python 3.x.
                    Code School was created as part of examination for course "Educational Software".
                    Leading and only (lonely) developers: Dimitrios Zografakis (p15041), Michail Papatoukakis (p15111).</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Quick Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="/code/">Code</a></li>
                    <li><a class="grey-text text-lighten-3" href="/about/">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="/contact/">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>


            <div class="footer-copyright">
                <div class="container">
                    © 2019 Codeschool made by P15041, P15111.
                    <a class="btn-floating red lighten-3 pulse right"><i class="material-icons">work</i></a>
                    <a class="btn-floating red lighten-3 pulse right"><i class="material-icons">vpn_key</i></a>
                    <a class="btn-floating red lighten-3 pulse right"><i class="material-icons">verified_user</i></a>
                </div>
            </div>
</footer>