{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <h2 class="center-align">Code School</h2>
    <div>
        <p class="center-align">Join the Millions Learning to Code with Code School</p>
    </div>

    <div class="divider"></div>
    <div class="row"></div>

    <div class="row">

        <div class="col s4">
            <div class="center-align">
                <i class="medium material-icons">rowing</i>
            </div>
            <h5 class="center-align">Speeds up development</h5>
            <p class="center-align">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
        </div>
        <div class="col s4">
            <div class="center-align">
                <i class="medium material-icons">child_care</i>
            </div>
            <h5 class="center-align">Practice Smarter</h5>
            <p class="center-align">No matter your experience level, you'll be writing real, working code in minutes.</p>
        </div>
        <div class="col s4">
            <div class="center-align">
                <i class="medium material-icons">check</i>
            </div>
            <h5 class="center-align">Put your learning into practice</h5>
            <p class="center-align">Apply your learning with real-world projects and test your knowledge with tailor-made quizzes.</p>
        </div>

    </div>

    <div class="divider"></div>
    <div class="row"></div>

    <div class="row no-padding">
        <div class="col s12 m12 l8" style="overflow:hidden">
            <img src="{% static 'pages/images/cover_1.png' %}" style="margin-left:-12px">
        </div>
        <div class="col s12 m12 l4 headline-right">
            <p class="category">PROGRAMMING</p>
            <h2 class="feat-article-title">Python 3: From zero to hero</h2>
            <p class="feat-article-summary">Learn Python like a Professional! Start from the basics and go all the way to creating your own applications and games!</p>
            <a href="{% url 'course' %}" class="btn grey lighten-4 grey-text text-darken-3 z-depth-1 waves-effect btn-headline">COURSE<i class="material-icons right">arrow_forward</i> </a>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row"></div>


</div>
{% endblock %}