{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <div class="row"></div>
        <div class="divider"></div>
        <div class="row"></div>


        <div class="row">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper center">
                    <div class="col s4">
                        <img src="{{ user.profile.image.url }}" alt="" style="height:150px;" class="circle responsive-img">
                    </div>
                    <div class="col s4">
                        <span class="black-text">
                            <p>Level: {{ user.profile.level }}</p>
                        </span>
                        <img src="{{ user.profile.rank.url }}" alt=""style="height:70px;" class="responsive-img">
                    </div>
                    <div class="col s4">
                        <h3>Hello, {{ user.username }}!</h3>
                        <p>{{ user.email }}</p>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>

        <div class="row">
            <div class="center">
                <p class="flow-text">Statistics</p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="center">
            <div class="row">
            <p class="flow-text">
                <b>Attending:</b> "{{ user.profile.attending_course }}"
            </p>
            </div>
        </div>{% comment %}

        <div class="row">
            <div class="col s6">
                <h6>Now Studying Chapter: {{ user.profile.chapter_studying }}</h6>
            </div>

            <div class="col s6">
                <h6>You should really work your:
                {% for stat_c in stats_cat %}
                    {% if stat_c.bad_at %}
                        {{ stat_c.category }},
                    {% endif %}
                {% endfor %}
                </h6>
            </div>
        </div>{% endcomment %}

        <h5 class="center">Statistics per Chapter</h5>
        <table class="centered">
            <thead>
            <tr>
                <th>Chapter</th>
                <th>Times Read Theory</th>
                <th>Test Passed</th>
                <th>Times Taken Test</th>
                <th>Correct Answers (Total)</th>
                <th>Wrong Answers (Total)</th>
                <th>Success Rate</th>
            </tr>
            </thead>

            <tbody>

            {% for stat in stats %}
                <tr>
                    <td>{{ stat.questionnaire.name }}</td>
                    <td>{{ stat.times_read }}</td>
                    <td>{% if stat.passed %} Yes {% else %} No {% endif %}</td>
                    <td>{{ stat.times_taken }}</td>
                    <td>{{ stat.answers_correct }}/{{ stat.answers_total }}</td>
                    <td>{{ stat.answers_wrong }}/{{ stat.answers_total }}</td>
                    <td>{{ stat.success_rate|floatformat:0 }} %</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


        <div class="row"></div>

        <h5 class="center">Statistics per Category</h5>
        <table class="centered">
            <thead>
            <tr>
                <th>Category</th>
                <th>Correct Answers (Total)</th>
                <th>Wrong Answers (Total)</th>
                <th>Should you improve?</th>
                <th>Additional Studying Material</th>
            </tr>
            </thead>

            <tbody>

            {% for stat_c in stats_cat %}
                <tr>
                    <td>{{ stat_c.category }}</td>
                    <td>{{ stat_c.answers_correct }}/{{ stat_c.answers_total }}</td>
                    <td>{{ stat_c.answers_wrong }}/{{ stat_c.answers_total }}</td>
                    <td>{% if stat_c.bad_at %} Yes {% else %} No {% endif %}</td>
                {% if stat_c.category.extra_material %}
                    <td><a href="{{ stat_c.extra_material }}">Link</a> </td>
                {% else %}
                    <td>-</td>
                {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="divider"></div>
        <div class="row"></div>

    </div>


{% endblock %}