{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="center-align">Create an Account</h2>
    <div>
        <p class="center-align">You’ll need an account to get to your courses</p>
    </div>

    <div class="divider"></div>
    <div class="row"></div>

    <div class="row">
        <form class="col s12" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="firstname" type="text" class="validate">
                    <label for="firstname">Username</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="text" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="conf_email" type="text" class="validate">
                    <label for="conf_email">Confirm Email</label>
                </div>
            </div>
            <div class="row">
                <div class="center">
                <p>
                    <label>
                    <input id="indeterminate-checkbox" type="checkbox" />
                    <span>Read Terms of Use</span>
                    </label>
                </p>
                </div>
            </div>
            <div class="row">
                <div class="center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Register
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="divider"></div>
    <div class="row"></div>


</div>


{% endblock %}