{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h4 class="center">Chapter 1. Test</h4>

<div class="container">
    <div class="divider"></div>
    <div class="row"></div>

    <div class="browser-default">
        <form method="POST" class="post-form">
            {% csrf_token %}
             <div class="input-field col s12">
                {{ form.as_p }}
             </div>
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>

    <div class="divider"></div>
    <div class="row"></div>

</div>
{% endblock %}